$font-stack: Helvetica, sans-serif;
$primary-color: #ee0000;
$left-text: left;
$red-text: #ee0000;
$headlinner-font: 64px;

#headlinner {
  font-size: $headlinner-font;
}

#btn-left {
  text-align: left;
}

.circle{
  // border-radius: 50%;
  position: relative;
  width: 500px;
  height: 500px;
  
}

.text-block {
  position: absolute;
  top: 82.5%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#left{
  text-align: left;
}

body {
  font: 120% $font-stack;
  text-align: center;
}



